/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevents scrollbars from appearing */
    font-family: 'Orbitron', sans-serif; /* Sets the default font */
}

/* Background Image Styling */
.background-image {
    background-image: url("../images/shutterstock_1983173993.jpg"); /* URL of the background image */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* No repeating of the image */
    background-size: cover; /* Scales the image to cover the container */
}

/* Main Container Styles */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
}

/* Header Style */
.main-container h1 {
    background-color: rgba(0, 0, 0, 1); /* Solid black background */
    color: white; /* White text color */
    text-align: center; /* Center aligns the text */
    font-size: 3.5rem; /* Sets the font size */
}

/* Interactive Container Styles */
.interact-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Horizontally centers children */
    align-items: center; /* Vertically centers children */
}

/* Styles for Iframe in Interactive Container */
.interact-container iframe {
    width: 33vw; /* Sets width to 33% of viewport width */
    height: 33vw; /* Sets height equal to its width */
}

/* General Styles for Divs in Interactive Container */
.interact-container div {
    width: 33vw; /* Sets width to 33% of viewport width */
    height: 33vw; /* Sets height equal to its width */
}

/* Output Picture Styles */
#output-picture {
    background-color: #333; /* Dark gray background */
    background-size: contain; /* Image should be contained within the element */
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}

/* Style for Span Inside Output Picture */
#output-picture span {
    color: white; /* White text color */
    font-size: 100px; /* Large font size */
    display: block; /* Block level element */
}

/* User Input Container Styles */
.user-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    background-color: #f0f0f0; /* Light gray background */
    width: 33vw; /* Sets width to 33% of viewport width */
    height: 33vw; /* Sets height equal to its width */
}

/* Label Styles in User Input */
.user-input label {
    font-size: 1.7em; /* Large font size for labels */
    margin-bottom: 10px; /* Spacing below the label */
    color: #333; /* Dark gray text color */
}

/* Styles for Select and Number Input */
.user-input select, .user-input input[type="number"] {
    width: 90%; /* Occupies most of the container width */
    margin-bottom: 20px; /* Spacing below the element */
    border: 1px solid #ddd; /* Light gray border */
    font-size: 1.2em; /* Sets font size */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #333; /* Dark gray text color */
}

/* Style to Remove Inner Spin Button from Number Input */
.user-input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Hides the default spin button */
}

/* Button Styles in User Input */
.user-input button {
    width: 90%; /* Occupies most of the container width */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2em; /* Sets font size */
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text color */
    border: none; /* No border */
    cursor: pointer; /* Changes cursor to pointer on hover */
}
